/**
 * Main CSS for Tile Compare.
 */
.map-panel {
  float: left;
}

a, a:visited, a:hover {
  color: #15428B;
}

h1 {
  padding: 1em;
}

header {
  background-color: #D8E6F6;
  color: #333333;
}

.layer-button {
  float: right;
  margin-top: .5em;
  margin-right: .5em;
  display: block;
  min-width: 30px;
}

a#about-button {
  padding: 4px;
  color: #FFFFFF;
}

/**
 * Map controls
 */
#geo-ext-container .olControlAttribution {
  right: inherit;
  bottom: 2px;
  left: 2px;
  color: #DDDDDD;
}
#geo-ext-container .olControlAttribution .olBingAttribution {
  color: #DDDDDD;
}
#geo-ext-container .olControlPermalink {
  bottom: 5px;
  right: 5px;
}
#geo-ext-container .olControlPermalink a {
  background-color: #D8E6F6;
  background-color: rgba(216, 230, 246, 0.7);
  color: #333333;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  display: none;
}
#geo-ext-container #map1 .olControlPermalink a {
  display: block;
}