/**
 * Main CSS for Tile Compare.
 */
.map-panel {
  float: left;
}

a, a:visited, a:hover {
  color: #15428B;
}

h1 {
  padding: 1em;
}

header {
  background-color: #333333;
  color: #EEEEEE;
}

/**
 * Map controls
 */
#geo-ext-container .olControlAttribution {
  right: inherit;
  bottom: 2px;
  left: 2px;
  color: #DDDDDD;
}
#geo-ext-container .olControlAttribution .olBingAttribution {
  color: #DDDDDD;
}